:root {
  --marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);

  --f-size: 14px;
}

/* CSS RESET */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font: inherit;
}

body,
html {
  height: 100%;
}

img,
svg {
  max-width: 100;
  display: block;
}

/* GENERAL STYLING */
body {
  background-color: var(--Magnolia);
  font-family: "Ubuntu", sans-serif;
  font-size: var(--f-size);
  color: var(--marine-blue);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  background-color: var(--White);
  width: 800px;
  display: grid;
  grid-template-columns: 1fr 2fr;

  margin: 2rem auto;
  border-radius: 8px;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
/* SIDEBAR STYLING */
.sidebar {
  background-image: url("/assets/images/bg-sidebar-desktop.svg");
  background-size: cover;
  color: var(--White);
  border-radius: 8px;
  padding: 2rem;
  font-size: 14px;
  margin: 1rem;
}

.step-outline {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
}
.digits {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--Light-gray);
  border-radius: 50%;
}
.digits.active_digit {
  background-color: var(--Magnolia);
  color: var(--marine-blue);
  border-color: transparent;
}

.steps {
  color: var(--Cool-gray);
}

/* STYLES FOR THE STEPS */
.multi-step-form {
  padding: 2rem;
  padding-right: 6rem;
  position: relative;
}

/* FIRST STEP(THE FORM) */
.header {
  margin-bottom: 1.5rem;
}
.form-control {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
}
.form-control label {
  display: inline-block;
  margin-bottom: 0.7rem;
}
.form-control input {
  display: block;
  width: 100%;
  border: 1px solid var(--Light-gray);
  border-radius: 8px;
  padding: 0.6rem;
}
.form-control input:focus {
  outline: transparent;
  border-color: var(--Purplish-blue);
}
.form-control.error input {
  border-color: var(--Strawberry-red);
}
.form-control input::placeholder {
  color: var(--Cool-gray);
}
.form-control small {
  position: absolute;
  right: 0;
  bottom: 0;
  color: var(--Strawberry-red);
  visibility: hidden;
}
.form-control.error small {
  visibility: visible;
  font-weight: 500;
}
.first-button-div {
  display: flex;
  justify-content: flex-end;
  margin-top: 4rem;
}
.multi-step-form button {
  background-color: var(--marine-blue);
  color: var(--White);
  border: 0;
  padding: 0.8rem;
  border-radius: 8px;
  align-content: flex-end;
  cursor: pointer;
}

/* SECOND STEP */
.available-plans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.5rem;
  padding-top: 2.3rem;
  padding-bottom: 1.8rem;
}
.plan {
  display: grid;
  row-gap: 0.5rem;
  border: 1px solid var(--Light-gray);
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
  height: 25vh;
  font-size: 12px;
  justify-content: center;
}
.choice p {
  color: var(--Cool-gray);
}
.plan:focus {
  border: 1px solid var(--Purplish-blue);
}
.monthly-yearly {
  background-color: var(--Alabaster);
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  padding: 0.7rem;
}
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 23px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: var(--marine-blue);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider.year::before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.next-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
.next-link a {
  color: var(--Cool-gray);
}
.next-link a:focus {
  color: var(--marine-blue);
}

/* THIRD STEP */
.adds-on {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  border: 1.5px solid var(--Light-gray);
  margin-top: 1.5rem;
  border-radius: 8px;
  padding: 1rem;
}
.adds-on:has(input:checked) {
  border-color: var(--Purplish-blue);
}
a:focus .adds-on {
  border-color: var(--Purplish-blue);
}

/* FOURTH/DYNAMIC STEP */
.dynamic-container {
  padding: 1rem 1rem 0rem;
  background-color: var(--Alabaster);
  border-radius: 8px;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.dynamic-div__1 {
  padding: 0.7rem;
  border-bottom: 1px solid var(--Light-gray);
}
.dynamic-div__2 {
  padding: 0.7rem;
}
.dynamic-div__2 div {
  margin-bottom: 0.8rem;
}
.dynamic-div__total {
  margin-bottom: 5.5rem;
}
.dynamic-div__total strong {
  color: var(--Purplish-blue);
  font-weight: 700;
  font-size: 1.3rem;
}
.change__link {
  text-decoration: underline;
}
.change__link:focus {
  color: var(--Purplish-blue);
}

/* FINAL STEP */
.thank-you-section {
  padding: 2rem;
  margin: 5rem auto;
}
.thank-you-image {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.thank-you-message {
  text-align: center;
}

/* UTILITY CLASS */
.primary-header {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
.text-weight-700 {
  font-weight: 700;
}
.sub-text {
  color: var(--Cool-gray);
  font-weight: 400;
  line-height: 1.7;
}
.purplishblue-text-color {
  color: var(--Purplish-blue);
}
.blur-text {
  color: var(--Cool-gray);
}
.margin-top {
  margin-top: 0.6rem;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
.multi-step-form button.confirm {
  background-color: var(--Purplish-blue);
}
.flex {
  display: flex;
  justify-content: space-between;
}

/* MEDIA QUERIES */
@media (max-width: 900px) {
  main {
    width: 750px;
  }
}
@media (max-width: 800px) {
  main {
    width: 90%;
  }
  .available-plans {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  .multi-step-form {
    padding-right: 2rem;
    position: relative;
  }
}
@media (max-width: 700px) {
  body {
    display: block;
  }
  main {
    width: 100%;
    grid-template-columns: 1fr;
    background-color: var(--Magnolia);
    margin: 0 auto;
    border-radius: 0;
  }
  .sidebar {
    background-image: url("/assets/images/bg-sidebar-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem;
    margin: 0;
    border-radius: 0px;
  }
  .step-text {
    display: none;
  }
  .box-card {
    background-color: var(--White);
    border-radius: 8px;
    padding: 2rem;
    width: 100%;
    margin: -4.3rem auto 0;
  }
  .multi-step-form {
    padding-right: 2rem;
    position: relative;
  }
  .first-button-div {
    background-color: var(--White);
    padding: 1rem;
    border-radius: 8px;
  }
  /* SECOND STEP */
  .next-link {
    background-color: var(--White);
    padding: 1rem;
    border-radius: 8px;
  }
}
@media (max-width: 500px) {
  .multi-step-form {
    padding: 0;
  }
  .box-card {
    background-color: var(--White);
    border-radius: 8px;
    padding: 2rem;
    width: 91%;
    margin: -4.3rem auto 0;
  }

  /* SECOND STEP */
  .available-plans {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .plan {
    grid-template-columns: 1fr 4fr;
    padding: 1rem;
    height: 13vh;
  }
} ;
